/*---------------------------------------/*
  # SETTINGS
/*---------------------------------------*/
$color-light: #cdbeb1;
$color-white: #fffaf6;
$color-brown: #543824;
$color-background: #7f4c3b;
$color-button: #a46f38;
$color-lighter-back: #9e7568;

$font-title: brandon-grotesque, sans-serif;
$font-text: neue-kabel, sans-serif;
/*---------------------------------------/*
  # GENERIC
/*---------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------------------------------------/*
  # ELEMENTS
/*---------------------------------------*/

nav {
  background-color: $color-light;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  & .c-nav {
    &__menu {
      &--link {
        color: $color-brown !important;
        margin-left: 1rem;
        transition: box-shadow 0.5s;
        border-radius: 10px;
        &:hover {
          box-shadow: 3px 3px 5px $color-brown;
          background-color: $color-button;
          border: 1 solid $color-button;
          color: $color-white !important;
        }
      }
    }
    &__brand {
      font-family: brandon-grotesque, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      @media only screen and (max-width: 426px) {
        font-size: 1.5rem;
      }
      &--img {
        margin-right: 20px;
        @media only screen and (max-width: 426px) {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

main {
  background-color: $color-background;
  padding: 5rem 0;
}

h1 {
  color: $color-white;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}
/*---------------------------------------/*
  # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
  # COMPONENTS
/*---------------------------------------*/

.c-header {
  padding: 0;
  margin: 0;
  height: 500px;
  position: relative;
  &__video {
    width: 100%;
    height: 900px;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    filter: grayscale(50%);
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media only screen and (max-width: 426px) {
      text-align: center;
    }
    h1 {
      font-family: $font-text !important;
      font-size: 4rem !important;
      font-weight: 500 !important;
      color: $color-white !important;
    }
  }
}

.c-types {
  text-align: center;
  padding: 5rem 0;
  margin: 0 auto;
  &__item {
    img {
      margin-bottom: 1rem;
      width: 300px;
      align-self: center;
      margin-top: 16px;
    }
  }
}

.c-card {
  border: none;
  background-color: $color-light;
  color: $color-white;
  font-family: $font-text;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;

  margin: 25px auto;
  @media only screen and (min-width: 769px) {
    height: 100%;
  }
  @media only screen and (max-width: 768px) {
    width: 500px;
  }
  @media only screen and (max-width: 426px) {
    width: 250px;
  }
  &__img {
    padding: 20px;
  }
  &__text {
    h2 {
      font-size: 2rem;
    }
    &--btn {
      font-size: 1.5;
      background-color: $color-button;
      border: 2px solid $color-button;
      width: 200px;
      align-self: center;
      margin-bottom: 2rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid $color-button;
        color: $color-brown;
      }
    }
  }
}

.c-text {
  color: $color-white;
  font-family: $font-title;
  font-weight: 600;
  font-style: normal;
  margin: 4rem 0;
  h3 {
    width: 80%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media only screen and (max-width: 426px) {
      font-size: 1.5rem;
    }
  }
}

.c-footer {
  background-color: $color-background;
  padding-bottom: 1.5rem;
  &__img {
    @media only screen and (max-width: 426px) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    &--image {
      @media only screen and (max-width: 426px) {
        height: 62px;
        width: 62px;
      }
    }
  }
  &__container {
    border-top: 4px solid $color-light;
    border-radius: 4px;
  }
  &__row {
    padding-top: 2rem;
  }
  &__naam {
    font-family: $font-text;
    font-weight: 500;
    font-size: 1rem;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 426px) {
      font-size: 0.5rem;
    }
  }
  &__social {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 50px;
    min-width: 80px;
    a {
      width: 50px;
      margin: 10px;
    }
    p {
      padding-right: 20px;
    }
    @media only screen and (max-width: 426px) {
      margin-bottom: 20px;
    }
    p {
      color: $color-white;
      margin: 0;
      align-self: center;
      font-family: $font-text;
      font-weight: 500;
      font-size: 1.5rem;
      @media only screen and (max-width: 426px) {
        font-size: 0.5rem;
        margin: 0;
      }
    }
    &--svg {
      margin: 20px;
      width: 50px;
      height: 50px;
      fill: $color-light;
      &:hover {
        fill: $color-white;
      }
    }
  }
}

/*---------------------------------------/*
  # BOOTSTRAP
/*---------------------------------------*/

.navbar-dark .navbar-nav .nav-link {
  padding: 0px 10px;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-three-dots' viewBox='0 0 16 16'%3E%3Cpath d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z'/%3E%3C/svg%3E");
  fill: $color-brown;
}
/*---------------------------------------/*
  # UTILITIES
/*---------------------------------------*/
